.main {
  margin: 0 auto;
  width: 1500px;
  background: #ffffff;

  .inner-frame {
    width: 1300px;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;    
  } 
}



@media (max-width: 1550px){
  .main {
    width: 1100px;

    .inner-frame {
      width: 900px;
    }
  }
}



@media (max-width:1120px) {
  .main {
    position: relative;
    width: 800px;

    .inner-frame {
      width: 675px;
    }
  } 
}

@media (max-width:820px) {
  .main {
    position: relative;
    width: 640px;

    .inner-frame {
      width: 500px;    }
  } 

  .nav {
    position:fixed ;
    right: 0;
    z-index: 1000;
  }  
}

@media (max-width:680px) {
  .main {
    position: relative;
    width: 320px;

    .inner-frame {
      width: 300px;    }
  } 

  .nav {
    position:fixed ;
    right: 0;
    z-index: 1000;
    
  }  

  mat-drawer {
    width: 40%;
    a {      
      display: flex;
      flex-direction: column;
      padding-bottom: 16px;
      text-decoration: unset;      
      font-weight: 500;      
      letter-spacing: 6.33143px;
      color: #000000;
    }
  }

 
}

/* @media (max-width:680px) {
 
      
 
} */


/* @media (max-width:1024px) and (orientation: landscape)  {
  .example-container {
    width: 1024px;    
  }

  .main {
    width: 1024px;

    .inner-frame {
      width: 976px;
    }
  }

  .nav {
    position:fixed;  
    left: 0px;
    width: 100px;
    background-color: transparent;
    z-index: 1000;
     
     .mat-icon {
       padding-left: 986px;       
     }
   }
} */

/* @media (max-width: 768px) {
  .main {
    position: relative;
    width: 768px;

    .inner-frame {
      width: 708px;
      margin: 0 auto;
    }
  }

  .example-container {
    width: 768px;
    height: auto;    
  }   
  
  .example-sidenav {
    padding: 20px;  
  }
  
  mat-drawer {
    width: 40%;
    a {      
      display: flex;
      flex-direction: column;
      padding-bottom: 16px;
      text-decoration: unset;      
      font-weight: 500;      
      letter-spacing: 6.33143px;
      color: #000000;
    }
  }
  
  mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
  }
  
  .nav {
   position:fixed;  
   background-color: transparent;
   z-index: 1000;
    
   .mat-icon {
    padding-left: 10px;
    padding-top: 16px;   
    font-size: 48px;
   }
  }
} */

/* @media (max-width:360px) {
  mat-drawer {
    width: 52%;  
  }

  .nav {
    left: 315px;         
   }

  .example-container {
    width: 360px;
    height: auto;    
  } 

  .main {    
    width: 360px;

    .inner-frame {
      width: 280px;      
    }
  }
}
 */