.head-container {
  position: relative !important;
  width: 1321px;
  height: 769px;
  left: 119px;
  top: 0px;

  h1 {
    position: absolute;
    width: 495px;
    height: 360px;
    left: 0px;
    top: 148px; 

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 120px;

    color: #000000;
  }    

  .btnCV {
    position: absolute;
    width: 353px;
    height: 144px;
    left: 0px;
    top: calc(769px - 72px);
    background: #FEE383;
    display: flex;
    justify-content: center;
    align-items: center;

    a {      
      text-decoration: unset;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 8.29714px;
      color: #000000;
      mix-blend-mode: normal;
      opacity: 0.6; 
    }
  } 

  img {
    position: absolute;
    width: 742px;
    height: 576.74px;
    left: 579px;
    top: 192.26px;    
    object-fit: cover;     
  }

  .backgr {
    position: absolute;
    width: 1119px;
    height: 769px;
    left: 202px;
    top: 0px;
    background: #efefef;
    mix-blend-mode: normal;
  }
}

@media (max-width: 1280px) {
  .head-container {
    /* border: 1px solid blue; */
    position: relative !important;
    width: 880px;
    height: 482px;
    left: 119px;
    top: 0px;
  
    h1 {
      position: absolute;
      width: 401px;
      height: 144px;
      left: 0px;
      top: 95px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 55px;
      line-height: 80px;
      color: #000000;
    }    
  
    .btnCV {
      position: absolute;
      width: 251px;
      height: 77px;
      left: 0px;
      top: 443px;
      background: #FEE383;
      display: flex;
      justify-content: center;
      align-items: center;
  
      a {      
        text-decoration: unset;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 36px;
        letter-spacing: 8.29714px;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.6; 
      }
    } 
  
    img {
      position: absolute;
      width: 490px;
      height: auto;
      left: 392px;
      top: 118px;
      object-fit: cover;     
    }
  
    .backgr {
      position: absolute;
      width: 741px;
      height: 483px;
      left: 140px;
      top: 0px;
      background: #efefef;
      mix-blend-mode: normal;
    }
  }
}
