.head-container {
  display: flex;
  justify-content: space-between;

  span{        
    letter-spacing: 6px;   
  }

  .head-label{
    height: 120px;
    width: 320px;
    padding: 6px;
    border: 2px white solid;
    border-radius: 10px;    
    color: black;
    background-color: #FEE383;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
  }

  img {
    width: 600px;    
  }
}