.head-container {
  position: absolute;
  top: 90px;

  span {
    letter-spacing: 6px;
  }

  .head-label {
    height: 120px;
    width: 320px;
    padding: 6px;
    border: 2px white solid;
    border-radius: 10px;
    color: black;
    background-color: #fee383;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 226px;
  }
}

@media (max-width: 1878px) {
  .head-container {
    position: static;

    .head-label {
      margin-top: 0px;
    }
  }
}

@media (max-width: 770px) {
  .head-container {
    position: static;
    div{
      display: flex;
      flex-direction: column;
      align-items: center;
    }   
    .head-label {
      height: 60px;
      width: 210px;
      margin-top: 0px;
    }  
  } 
}
