$gape: calc((100vw - 1440px)*0.5 - 8.5px);

.super-footer {
  //height: 85px;
  color: darkslategrey;
  display: flex;
  flex-direction: column;
  align-items: center;  
  background-color: #F6F6F6;
  position: fixed;
  bottom: 0;
  right: $gape;
  left: $gape;
  padding: 16px 0px;
  

  p {
    font-size: 21px;
    margin: 0;
  }

  
}

.footer-style {
  display: flex;
  align-items: center;
  justify-content: center;

  a,
  span {
    color: darkslategrey;
    text-decoration: unset;
    font-size: 21px;
  }

  
}

.puffer {
  background-color: red;
  height: 50px;
}

/* @media (max-width: 770px) {
  .super-footer{
    height: 220px;
    //justify-content: unset;    
  }      
}

@media (max-width: 600px) {
  .super-footer{
    height: 140px;      
  }      
}
 */