.super-footer {
  height: 85px;
  color: darkslategrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 35px 0 35px 0;

  p {
    font-size: 21px;
    margin: 0;
  }
}

.footer-style {
  display: flex;
  align-items: center;
  justify-content: center;

  a,
  span {
    color: darkslategrey;
    text-decoration: unset;
    font-size: 21px;
  }
}
