.super-footer {
  height: 208px;  
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  background-color: #F6F6F6;
   
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;  
  color: #8A8A8A !important;
  mix-blend-mode: normal;
  opacity: 0.8;  
}

.footer-style {
  display: flex;
  align-items: center;
  justify-content: center;

  a,
  span {
    color: #8A8A8A !important;
    text-decoration: unset;    
  }  
}

@media (max-width: 360px) {
  .super-footer {
    margin: 0 -10px;
    height: 120px;
    line-height: 250%;
  }
}
