<div class="about-style">
  <h1 id="id-about-me">About Me</h1>
  <p>
    Mein Name ist Christian Pfaff und zuletzt war ich über 17 Jahren als Dipl.-Ing(FH) in der Maschinenbaubranche tätig. Zahlreiche Maschinen für die Querteilanlagen der Stahlindustrie weltweit und im Wert von bis zu 15 Mill. EUR wurden von mir entwickelt und konstruiert. Ich habe mich zum Frontend Entwickler weitergebildet, da es schon lange mein Wunsch war als Programmierer tätig zu werden. Durch die neu erworbene Programmierkompetenz gepaart mit meiner langjährigen Berufserfahrung als Ingenieur bin ich in der Lage auch komplexere Programmieraufgaben wie, z.B. technischer, mathematischer oder physikalischer Natur, zu lösen. <br> <br> 

    <em>My name is Christian Pfaff and I worked over 17 years as an Dipl.-Ing(FH) in the field of machine building. Numerous of machines for cut-to-length plants of the steel industry worldwide with an value up to 15 Mill. EUR was developed and designed by me. I educated oneself to frontend developer because it has always been my wish to work as an programmer. Due to my new aquired programming qualification paired with my longtime experience of qualified engineer, I'm able to solve more complexe programming tasks such as technical, mathematical or physical nature.</em>     
  </p>
  
  <div class="style-img-label">
    
    <div class="label-box">
      <div class="p-l-20">
        <span class="txt-contact-1">EMAIL</span><br>
        <span class="txt-contact-2">c_pfaff@t-online.de</span>
      </div>
      <div class="p-l-20">
        <span class="txt-contact-1">ROLE</span><br>
        <span class="txt-contact-2">Frontend Developer</span>
      </div>
      <div class="p-l-20">
        <span class="txt-contact-1">PHONE</span><br>
        <span class="txt-contact-2">(+49) 176 476 19 273</span>
      </div>
      
    </div>
    <img src="assets/img/baggersee.jpg" alt="" />  
    
    
  </div>
  
 
  
</div>
