<div class="about-style">
  <h1 id="id-about-me">About Me</h1><hr>
  <p>
    Mein Name ist Christian Pfaff und zuletzt war ich über 17 jahren als Dipl.-Ing(FH) in der Maschinenbaubranche tätig. Zahlreiche Maschinen für die Querteilanlagen der Stahlindustrie weltweit und im Wert von bis zu 15 Mill. EUR wurden von mir entwickelt und konstruiert. Meine langjährige berufliche Erfahrung und analytisches Denken möchte ich nun im Bereich der Programmierung einsetzen. Schon lange war es mein Wunsch im Bereich der Programmierung tätig zu werden und deshalb bilde ich mich zur Zeit zum Frontend Entwickler weiter.
  </p>

  
  
  <div class="style-img-label">
    
    <div class="label-box">
      <div>
        <p class="text-grey">EMAIL</p>
        <P>c_pfaff@t-online.de</P>
      </div>
      <div>
        <p class="text-grey">ROLE</p>
        <P>Frontend Developer</P>
      </div>
      <div>
        <p class="text-grey">PHONE</p>
        <p>(+49) 176 476 19 273</p>
      </div>
      
    </div>
    <img src="assets/img/baggersee.jpg" alt="" />  
    
    
  </div>
  
 
  
</div>
