<div class="about-style">
  <h1 id="id-about-me">About Me</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. At, autem. Sit
    similique enim ullam assumenda saepe pariatur! Odio fugit, optio qui
    officiis similique dignissimos iusto sapiente totam nisi ipsa, a, neque
    adipisci. Similique dicta illum id fugit tempore incidunt culpa laudantium,
    adipisci praesentium est, enim itaque pariatur mollitia maxime optio
    officia. Voluptas, recusandae suscipit ipsam assumenda doloribus expedita
    voluptatem qui minima omnis vitae consectetur quas ex necessitatibus,
    nostrum nemo cum voluptatum. Repellat iure quaerat quos odio nihil debitis
    dolorum porro optio rem velit qui ea, et quibusdam nulla. Aliquam dolor,
    suscipit veniam ut explicabo autem! Labore natus laborum placeat reiciendis.
  </p>
  <img src="assets/img/baggersee.jpg" alt="" />
  <p class="short-txt">
    It is a along established fact that a reader will be distracted <br />
    by the readable content of a page when looking at its layout
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit blanditiis
    beatae voluptate distinctio, nesciunt sunt similique quo eos totam id minima
    assumenda soluta dolores, consequuntur minus, sit asperiores vitae nisi
    aperiam tempore harum. Quis fugit libero delectus eos nobis quae, quidem a
    nemo enim praesentium deleniti temporibus iusto quisquam, provident
    voluptatum commodi, asperiores tenetur sequi expedita eius exercitationem
    blanditiis ab? Hic at, quos qui perspiciatis expedita autem tenetur
    exercitationem harum praesentium voluptatem soluta aut repellendus
    repudiandae rerum! Sed dolor eaque, explicabo quae nobis similique rerum
    repellat debitis ipsam est? Natus harum nesciunt, ad cumque veniam quisquam
    numquam dolor distinctio odit?
  </p>

  <div class="label-box">
    <div>
      <p class="text-grey">EMAIL</p>
      <P>c_pfaff@t-online.de</P>
    </div>
    <div>
      <p class="text-grey">ROLE</p>
      <P>Frontend Developer</P>
    </div>
    <div>
      <p class="text-grey">PHONE</p>
      <p>(+49 176 ########)</p>
    </div>
  </div>
</div>
