.menu-container {  
  width: 460px;
  height: 24px;  
  display: flex;
  justify-content: space-between;  
  
  font-size: 16px;
  letter-spacing: 6.33143px;

  a {    
    text-decoration: unset;
    color: rgba(0,0,1);  
  }

  z-index: 999;  
  
}

@media  (max-width: 1550px) {
  .menu-container {     
    width: 350px;
    height: 24px;  
    font-size: 10px;
    line-height: 24px;
  }  
} 

@media  (max-width: 1120px) {
  .menu-container {     
    width: 312px;    
  }  
}

/* @media (max-width: 768px) {
  .menu-container {  
    width: 340px;        
  } 
} */


