.menu-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;  
}

.menu-style {
 
  .menu-style-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    border-bottom: 1px solid;
    box-shadow: 0px 0px 4px 0;
  }

  a {
    //margin-left: 80px;
    //margin-top: 45px;
    text-decoration: unset;
    font-size: 26px;
    letter-spacing: 6px;
    color: darkslategrey;
  }
}


@media  (max-width: 1878px) {
  .menu-style {
    justify-content: space-between;  
    margin-left:unset; 
    align-items: center;
    flex-direction: column;
    position: unset;

    img {
      align-items:unset;
      position: unset;        
      object-fit: cover;
      object-position: 0 -105px;
    }
  }

  .menu-style-container{
    display: flex;  
    justify-content: space-between;  
    padding: 10px 100px;
  }  
}

@media (max-width: 1202px) {
  .menu-style {
    background-color:rgba(255, 255, 255, 0);
  }
}
    
@media (max-width: 600px) {
  .menu-style {    
    a {      
      font-size: 13px;      
    }
    .menu-style-container{
      padding: 10px 45px;
    }  
  }    
}   
