.main-formular {
  background-color: #fee383;
  height: 620px;
  display: flex;
  justify-content: space-around;
  padding-top: 75px;
  h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: #111010; 
    margin-bottom: 16px;   
  }

  span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2E2E2E;
  }

  form {
    margin-top: 45px;
    width: 450px;
  }

  .main-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 430px;    
  
    label {
      padding: unset;
      width: 100%;    
    }

    input {
      margin-top: 10px;
      padding: unset;
      border: none;
      height: 50px;
      width: 100%;
    }

    textarea {
      margin-top: 10px;
      padding: unset;
      border: none;
      resize: unset;
      height: 100px;
      width: 100%;
    }

    label, input, textarea {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #0D0D0C;
    }

    button {
      height: 70px;
      margin-top: 20px;      
      background-color: black;
      color: white; 
    }
  } 
}

@media  (max-width: 1280px) {
  .main-formular{
    height: 560px;

    h1 {
      font-size: 43px;   
      line-height: 55px;
      margin-bottom: 0px;   
    }
    
    span {
      font-size: 12px;
    };

    .main-section {
      height: 425px;
      width: 327px;
;

      label, input, textarea {        
        font-size: 11px;
        line-height: 20px;        
      }

      button {
        height: 60px;
        margin-top: 20px;
        background-color: black;
        color: white;
        font-size: 11px;
      }
    }

    form {
      margin-top: 28px;
      width: 327px;
    }
  }  
}

@media  (max-width: 360px) {
  .main-formular {
    margin: 0px -10px;
    padding: 16px;

    span {
        width: 258px;
      display: block;

      br {
        display: none;
      }
    }
    
    
    
    flex-direction: column;
    h1 {
      font-size: 32px;
    }

    .main-section {
      height: 425px;
      width: 330px;   
    }

    form {
      margin-top: 28px;
      width: 100%;
    }
  }

  app-talkbusiness {
    //position: relative;
   
  }
}
