<router-outlet></router-outlet> 
     
  <!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over">
        
      <a href ="#Ausgabe1">Menu 1</a><br>
      <a href ="#Ausgabe2">Menu 2</a><br>
      <a href ="#Ausgabe3">Menu 3</a><br>
     
    </mat-drawer>
  
    <div class="example-sidenav-content">
   
      <div class="nav">
        <mat-icon (click)="drawer.toggle()">more_vert</mat-icon>
      </div> 
        
  
      <div class="p-style">
        
      </div>
        
    </div>
    
  
  </mat-drawer-container>
   -->
  
  

