.project-style{
  display: flex;
  justify-content: space-between;  
  margin-bottom: 140px;

  img{
    width: 838px;
  }

}

.super-container{
    height: 1480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}    