<h1 id="id-project">Projects</h1>
<div  class="super-container">
    <div class="project-style">
      <img src="assets/img/sakura-ramen.PNG" alt="" />
      <div class="content-style">
        <h2>Restaurant Website</h2>
        <p>This website was my first greater htm/css project</p>
      </div>
    </div>
    <div class="project-style">
      <div class="content-style">
        <h2>Restaurant Website</h2>
        <p>This website was my first greater htm/css project</p>
      </div>
      <img src="assets/img/backwelt.PNG" alt="" />
    </div>

    <div class="project-style">
      <img src="assets/img/elpololoco.PNG" alt="" />
      <div class="content-style">
        <h2>Restaurant Website</h2>
        <p>This website was my first greater htm/css project</p>
      </div>
    </div>
</div>
