.project-container {
  //padding: 10px 100px;
  h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 120px;
    color: #100F0F;
    margin-top: 170px;
  }
}

.content-style {  
  h2 {    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 81px;
    letter-spacing: -0.257143px;
    color: #999999;
  }
  p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.385714px;
    color: #6D6D6D;
    text-align: justify;
    
  }
}

.project-style {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;

  img {
    width: 662px;
    height: 590px;
    object-fit: cover;    
  }
}

.super-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1280px) {
  .project-container {
    font-size: 68px;   
    margin-top: 110px;

    h1 {
      font-size: 60px;   
    }

    h2 {
      font-size: 12px;
    }
  }
 
  .project-style {
    
    img {
      width: auto;
      height: 250px;
    }
  }

  .content-style {
    p {
      font-size: 12px;
      line-height: 24px;
    }  

    h2 {
      font-size: 30px;
    }
  }    
}
  
/* @media (max-width: 1080px) {
  .project-container {
    margin-top: 340px;
    h1 {
      margin-top: 0;
      //font-size: 64px;
      line-height: 128px;      
    }
    h2 {   
      font-size: 24px;
    line-height: 34px;
      margin-bottom: 0;
    }
  }

  .project-style {    
    flex-direction: column;
    text-align:left ;
    margin-bottom: 0px;
    
    img {
      width: 100%; 
      height: auto;
      padding-top: 64px;          
    }

    .p-r-80 {
      padding-right:0;
    }   

    .content-style {
      order: 2;
      padding-top: 64px;      
      background-color: #F6F6F6;
      
      h2 {
        margin-bottom: 16px;
      }

      .br-style {
        display: none;
      }            
      
    }
    
  }  
} */
