<div class="project-container">
  <h1 id="id-project">Projects</h1><hr>
  <div  class="super-container">
      <div class="project-style">
        <img  src="assets/img/sakura-ramen.PNG" alt="" />
        <div class="content-style">
          <h2>Restaurant Website</h2>
          <p><a href="http://christian-pfaff.developerakademie.com/Modul_3_Internet_Computer_Sakura_Ramen_Webseite/index.html" target="_blank">Sakura Ramen </a>  was my first practice website. The main focus was the use of html, css elements, integrated pictures and to build a simple menu bar with some links.</p>
        </div>
      </div>
      <div class="project-style">
        <div class="content-style">
          <h2>Backwelt Website</h2>
          <p><a href="http://gruppe-70.developerakademie.com/Gruppenarbeit%20-%20Kochwelt_V16/index.html" target="_blank">Backwelt</a> is a collection of recipes of cakes. It was a project with two ohter students. My part was mainly "Schwarzwälder-Kirschtorte". Bon appetit!</p>
        </div>
        <img src="assets/img/backwelt.PNG" alt="" />
      </div>

      <div class="project-style">
        <img src="assets/img/elpololoco.PNG" alt="" />
        <div class="content-style">
          <h2>El Pollo Loco</h2>
          <p><a href="http://christian-pfaff.developerakademie.com/El_Pollo_Loco/index.html">El Pollo Loco</a> ist al little game that was coded in JavaScript-OOP.</p>
        </div>
      </div>
  </div>
</div> 

