<div class="project-container">
  <h1 id="id-project">Projects</h1>
  <h2>
    Anbei finden Sie ein kleine Auswahl von meinen Projekten.<br />Diese Website
    wurde mit Angular erstellt.<br />
    <em>Enclosed you will find a small selection of my projects.<br />This
      website was built with Angular.</em>
  </h2>

  <hr />
  <div class="super-container">
    <div class="project-style">
      <img src="assets/img/sakura-ramen.PNG" alt="" />
      <div class="content-style">
        <h2>Restaurant Website</h2>
        <p>
          <a href="http://christian-pfaff.net/Modul_3_Internet_Computer_Sakura_Ramen_Webseite/index.html" target="_blank">
            Sakura Ramen
          </a>
            was my first practice website. The main focus was the use of html, css
            elements, integrated pictures and to build a simple menu bar with some
            links. Used tools: HTML and CSS.
        </p>
      </div>
    </div>
    <div class="project-style">
      <div class="content-style">
        <h2>Backwelt Website</h2>
        <p>
          <a
            href="http://christian-pfaff.net/Gruppenarbeit%20-%20Kochwelt_V16/index.html"
            target="_blank"
            >Backwelt</a
          >
          is a collection of recipes of cakes. It was a project with two other
          students. My part was mainly "Schwarzwälder-Kirschtorte". Bon appetit!
          Used tools: HTML, CSS, JS, Git.
        </p>
      </div>
      <img src="assets/img/backwelt.PNG" alt="" />
    </div>

    <div class="project-style">
      <img src="assets/img/elpololoco.PNG" alt="" />
      <div class="content-style">
        <h2>El Pollo Loco</h2>
        <p>
          <a
            href="http://christian-pfaff.net/El_Pollo_Loco/index.html"
            target="_blank"
            >El Pollo Loco</a
          >
          it is a little game with focus of JavaScript-OOP.
          Used tools: HTML, CSS, JS.
        </p>
      </div>
    </div>
  </div>
</div>
<app-talkbusiness></app-talkbusiness>
