/* You can add global styles to this file, and also import other style files */
body{

  font-family: 'Poppins', sans-serif;

  margin: 0 150Px 0 150px;

  h1{
    font-size: 80px;
  }

  h2{
    font-size: 54px;
  }
  p{
    font-size: 24px;
  }

  span{
    font-size: 26px;
  }  
}

@media (max-width: 1202px){
  body{  
    
      h1{
        font-size: 40px;
      }
    
      h2{
        font-size: 27px;
      }
      p{
        font-size: 12px;
      }
    
      span{
        font-size: 13px;
      }  
  }
}

@media (max-width: 361px){
  body{  
    margin: 0 10px 0 10px;     
  }
}